# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Don't use tabs for indentation.
[*]
indent_style = space
charset = utf-8
end_of_line = lf

[*.gd]
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false